SUPABASE_URL=https://cugrwgritgnmienipfbv.supabase.co


SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1Z3J3Z3JpdGdubWllbmlwZmJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwNDUzMDMsImV4cCI6MjA5NDYyMTMwM30.Ly98yVQqC7E6zmTNl55B5g63dIbzOuzUyuNsFOb_T-I

# Porta do servidor (opcional, padrão: 8080)
PORT=8080
